venv/
# Ignore specific files
backend/analysis.py
backend/backend/memcached.py
backend/backend_app/claimauditable_0.1.csv
backend/backend_app/claims_0.1.csv
backend/backend_app/dsoutcome_0.1.csv
backend/backend_app/dsoutcome_0.2.csv
backend/backend_app/parameters_0.1.csv
backend/backend_app/__pycache__/
backend/backend_app/claim_notes.csv
backend/backend_app/distribution_channel.csv
backend/backend_app/dev_claimauditnew.csv
backend/backend_app/lob_0.1.csv
# Ignore __pycache__ directories
backend/backend/__pycache__/
backend/backend_app/migrations/__pycache__/
frontend/pages/__pycache__/
backend/db.sqlite3
backend/backend_app/views_old.pybackend/db.sqlite3
backend/db.sqlite3
